{% extends ".pyproject.tmpl" %}

# vim:tw=0:ts=4:sw=4:et:norl:ft=toml
# Author: Landon Bouma <https://tallybark.com/>
# Project: https://github.com/doblabs/human-friendly_pedantic-timedelta#🥧
# License: MIT

# Copyright (c) © 2020-2023 Landon Bouma. All Rights Reserved.

{% block project_meta -%}

[tool.poetry]
# REFER: https://peps.python.org/pep-0621/
#   https://packaging.python.org/en/latest/specifications/declaring-project-metadata/

name = "human-friendly_pedantic-timedelta"
version = "0.0.0"
description = "Human-friendly Pedantic `timedelta`"

authors = ["Landon Bouma <doblabs@tallybark.com>"]
maintainers = ["Tally Bark LLC <doblabs@tallybark.com>"]

license = "MIT"
readme = "README.rst"

# REFER: https://pypi.org/classifiers/
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Libraries :: Python Modules",
]

# Keywords for PyPI to display, and to use for search results.
keywords = [
    "timedelta",
    "elapsed",
    "time",
    "duration",
    "human",
    "friendly",
    "string",
    "formatter",
]

# poetry build excludes __pycache__ dirs
# and whatever Git ignores (.gitignore).
# Here we add files to the source dist.
#
# REFER: https://python-poetry.org/docs/pyproject/#include-and-exclude

include = [
    # Included by default:
    #  { path = "LICENSE", format = "sdist" },
    #  { path = "README.rst", format = "sdist" },
    #  { path = "pyproject.toml", format = "sdist" },
    { path = "*.rst", format = "sdist" },
    { path = "tests/", format = "sdist" },
    # Omitting: Makefile, dotfiles, docs/, etc.
    # Learning: How you can inflate the wheel:
    #  { path = "for_wheel.txt", format = ["sdist", "wheel"] }
]

# Note that Poetry looks for packages under src/ by default, but
# we could specify the path explicitly, e.g.,
#
#   packages = [{include = "the_package_name", from = "src"}]

packages = [{ include = "pedantic_timedelta", from = "src" }]

# ***

# YOU: Uncomment and customize to add a CLI entrypoint:
#
#   [tool.poetry.scripts]
#   human-friendly_pedantic-timedelta = "human_friendly_pedantic_timedelta:cli"

# ***

[tool.easy_as_pypi]
author = "Landon Bouma <https://tallybark.com/>"
copy_years_owner = "2020-2023 Landon Bouma"
coc_contact_email = "tallybark+doblabs -at- gmail.com"

# ***

[tool.poetry.urls]

# HOWTO: Add project URLs to this table. If you use special keywords in
# the name or certain domains in the URL, PyPI will treat them specially
# or at least iconify them.
# - These names are special:
#     "download"
#     "home", "homepage", "home page"
#     "changelog", "change log", "changes", "release notes",
#         "news", "what's new", "history"
#     "docs*", "documentation*"
#     "bug*", "issue*", "tracker*", "report*"
#     "funding*", "donate*", "donation*", "sponsor*"
# - REFER: See the source for specifics:
#     https://github.com/pypi/warehouse/blob/main/warehouse/templates/packaging/detail.html
# - THANX: Here's also a nice graphic:
#     https://daniel.feldroy.com/posts/2023-08-pypi-project-urls-cheatsheet

# WIRED: The Sphinx config (docs/conf.py) and .github/bin/update-poetry
#        require that 'homepage' or 'repository' is set.

homepage = "https://github.com/doblabs/human-friendly_pedantic-timedelta"

# Include 'repository' unless same as homepage.
#  repository = "https://github.com/doblabs/human-friendly_pedantic-timedelta"

history = "https://github.com/doblabs/human-friendly_pedantic-timedelta/blob/release/HISTORY.rst"

documentation = "https://human-friendly_pedantic-timedelta.readthedocs.io/en/latest"

issues = "https://github.com/doblabs/human-friendly_pedantic-timedelta/issues"

download = "https://pypi.org/project/human-friendly_pedantic-timedelta/#files"

{% endblock -%}

{# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}

{% block isort_known_third_party -%}
    "inflector",
{%- endblock %}

{# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}

{% block deps_test_fakers_and_factories -%}

# **** Fakers not needed.
{% endblock -%}

{# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}

{#
    [tool.poetry.group.project_test]
    optional = true

    [tool.poetry.group.project_test.dependencies]
#}

{%- block project_test_dependencies -%}

# *** Datetime testing.

# - "travel through time by mocking the datetime module"
#
#   https://pypi.org/project/freezegun/
#   https://github.com/spulec/freezegun
freezegun = ">=0.3.14"
{% endblock -%}

# ***

{#
    [tool.poetry.dependencies]
 #}

{% block project_dependencies -%}

# - "Vocabulary word pluralizer."
#
#   https://pypi.org/project/inflector
#   https://github.com/ixmatus/inflector
Inflector = ">= 3.0.1, < 4"
{% endblock %}
